/* Font Family for Entire Page */

* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0px;
}

/* Popup */
#popup {
    margin: auto;
    width: 100%;padding: 0px;
}




#cont {
    padding: 0px;
    width: 420px;
    margin: auto;
    height: fit-content;
}

/* Top section */
#logo {
    height: fit-content;
    width: 80%;
    margin: auto;
    padding: 0px;
    text-align: center;
}
#logo > img {
    width: 90px;
    height: auto;
    margin-bottom: 0px;
}
#logo > p {
    font-weight: lighter;
    font-size: 12px;
    letter-spacing: 0.0625em;
    margin-top: 0px;
    margin-bottom: 2px;
    color: rgb(95, 86, 86);
}
#logo > p > a {
    font-weight: 600;
    font-size: 13px;
    color: #0091AE;
    text-decoration: none;
}


/* Form Section */
form {
    width: 100%;
    height: fit-content;
    margin-top: 15px;
}
form > label {
    font-size: 14px;
}
form > input {
    width: 93%;
    padding: 12px;
    border-radius: 3px;
    margin-top: 5px;
    background-color: #F5F8FA;
    border: 1px solid #CBD6E2;
    margin-bottom: 20px;
}

form > p {
    margin-top: 5px;
    font-size: 12px;
    margin-bottom: 2px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #0091AE;
}

form > p:hover {
    cursor: pointer;
}

#submit {
    width: 419px;
    border: 0px;
    background-color: #EAF0F6;
    color: #B0C1D4;
    font-size: 18px;
    border-radius: 2px;
    padding: 10px;
}

hr {
    border: 1px solid #eee;
}

#google {
    height: 40px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 2px;
    padding: 0px;
    display: flex;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 2px;
    background-color: #5886d4;
}
#google:hover {
    cursor: pointer;
    background-color: #4f96f3;
}
#google > div >  img {
    height: 38px;
    width: auto;
    margin-top: 1px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    margin-left: 1px;
    display: inline;
}
#span {
    margin-top: 10px;
    margin-left: 110px;
}
#span >  span {
    margin: 0px;
    color: white;
    font-size: 14px;
    font-weight: 500;
}

#sso {
    height: 36px;
    margin: auto;
    padding: 1px;
    margin-top: 0px;
    width: 100%;
    border-radius: 2px;
    background-color: #425B76;
}
#sso:hover {
    cursor: pointer;
    background-color: #576e86;
}

#sso > p{
    margin-top: 10px;
    text-align: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
}


/* Footer part */
#footer {
    margin-top: 40px;
}
#footer > p {
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 8px;
    font-weight: 400;
    text-align: center;
    font-family: Helvetica;
}
#footer > p + a {
    color: teal;
    text-align: center;
    font-size: 12px;
    display: block;
    margin-top: 0px;
}
